---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = (
    await getCollection("blog", ({ data }) => {
      return data.draft !== true;
    })
  ).sort((a, b) => a.data.year.valueOf() - b.data.year.valueOf());

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );

    const amountOfPosts = filteredPosts.length;

    return {
      params: { tag },
      props: { posts: filteredPosts, tags: uniqueTags, amount: amountOfPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const { tags } = Astro.props;
const { amount } = Astro.props;

const tagUppercased = tag.charAt(0).toUpperCase() + tag.slice(1);

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header tags={tags} currentPath={currentPath} amount={amount} />
  <main class="main">
    <div class="intro">
      <p class="font-size-l">
        <!-- <span class="font-weight-bold">{amount}</span> products tagged with{" "} -->
        <span class="font-weight-bold">{tagUppercased}</span>
      </p>
    </div>
    <div class="items">
      {
        posts.map((post) => (
          <Article
            size={post.data.size}
            slug={post.slug}
            image={post.data.heroImage}
            title={post.data.title}
            authors={post.data.authors}
            year={post.data.year}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
