---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import BackLink from "../components/BackLink.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, year, heroImage, authors, company } = Astro.props;
const id = title.toLowerCase().replace(/\s/g, "-");
const authorsJoined = authors.join(", ");
const description =
  "Designed by" + authorsJoined + "in" + year + "for" + company + ".";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="bg-foregroundColor">
      <BackLink />
      <article class="detail">
        <header class="detail__intro">
          <Image
            class="detail__img"
            widths={[800, 1500]}
            loading="eager"
            transition:name={`detail-image`}
            src={heroImage}
            alt={title}
          />
          <!-- <Image
            class="detail__img"
            width="1500"
            transition:name={`image-${id}`}
            src={heroImage}
            alt={title}
            loading="eager"
          /> -->
          <!-- <img
            class="detail__img"
            src={heroImage}
            width="1000"
            height="1000"
            transition:name="detail-image"
            alt={title}
          /> -->
          <!-- <img
            class="detail__img"
            src={heroImage}
            width="1000"
            height="1000"
            transition:name={`image-${id}`}
            alt={title}
          /> -->

          <div class="detail__header" transition:name="detail-header">
            <h1 class="detail__title">{title}</h1>
            <p class="detail__desc">
              {authorsJoined}
            </p>
          </div>
        </header>
        <div class="detail__body">
          <div class="flow max-width-m">
            <slot />
          </div>
          <dl>
            <dt>Year</dt>
            <dd>{year}</dd>
            <dt>Company</dt>
            <dd>{company}</dd>
          </dl>
        </div>
      </article>
      <Footer />
    </div>
  </body>
</html>
