---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import BackLink from "../components/BackLink.astro";

type Props = CollectionEntry<"blog">["data"];

const { postId, title, description, year, heroImage, authors } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="bg-color-neutral-075">
      <BackLink />
      <article class="detail">
        <header class="detail__intro">
          <!-- <Image
            class="detail__img"
            width="1000"
            transition:name={`detail-image`}
            src={heroImage}
            alt={title}
          /> -->
          <Image
            class="detail__img"
            width="1000"
            transition:name={`image-${postId}`}
            src={heroImage}
            alt={title}
          />
          <div class="detail__header" transition:name="detail-header">
            <h1 class="detail__title">{title}</h1>
            <p class="detail__desc">
              {authors}
            </p>
          </div>
        </header>
        <div class="detail__body">
          <div class="flow max-width-m">
            <slot />
          </div>
          <dl>
            <dt>Company</dt>
            <dd>Braun AG</dd>
            <dt>Country</dt>
            <dd>Germany</dd>
            <dt>Year</dt>
            <dd>{year}</dd>
            <dt>Materials</dt>
            <dd>plastic, vinyl</dd>
            <dt>Dimensions</dt>
            <dd>5 h × 7 w × 2¼ d in (13 × 18 × 6 cm)</dd>
          </dl>
        </div>
      </article>
    </main>
  </body>
</html>
